@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600&family=Special+Elite&family=Vast+Shadow&display=swap');

/* Root colors */
:root {
  --page-background: #bdb2a0;
  --darkbrown: #3d2617;
  --white: #fff;
}

html {
  height: 100%;
}

body {
  background-color: var(--page-background);
  font-family: 'Roboto Slab', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.header-nav {
  background-color: var(--darkbrown);
}

.logo {
  height: 47px;
}

a.active {
  border-bottom: 1px solid var(--white);
  font-weight: 800;
}

/* Hero section */
#hero-image {
  background-image: url(/assets/images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.hero-text-container {
  color: var(--white);
  background-color: var(--darkbrown);
  opacity: 0.8;
  border-radius: 5px;
}

.hero-text-container h1 {
  font-size: 2.5rem;
}

/* cards */
.card {
  background-color: rgba(61, 38, 23, 0.6);
  color: var(--white);
  border-radius: 15px;
  /* Shadow */
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
}

.card-image {
  height: 350px;
  object-fit: contain;
  margin-bottom: 10px;
}

.btn-brown {
  background-color: var(--darkbrown);
  color: var(--white);
  font-size: 1.5rem;
  font-size: 1.5rem;
}

.btn-brown:hover {
  background-color: var(--page-background);
  color: var(--darkbrown);
}

.noselect {
  user-select: none;
  cursor: default;
}

.noselect {
  user-select: none;
  cursor: default;
}

#footer {
  background-color: var(--darkbrown);
  color: var(--white);
}

/*MAP PAGE*/
/*MAP PAGE*/
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map-group {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map-row {
  width: 100%;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
}

.map-welcome {
  color: var(--white);
  border-radius: 15px;
  margin-top: 20px;
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  flex: 1;
}

.map-welcome-content {
  text-align: center;
}

.history-list {
  height: 400px;
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
  background-color: rgba(61, 38, 23, 0.6);
  border-radius: 15px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: scroll;
  color: antiquewhite;
}

.list-content {
  text-align: left;
  color: antiquewhite;
}

.list-content li {
  cursor: pointer;
  font-size: 16px;
  transition: font-size 0.3s ease;
}

.list-content ul li:hover {
  font-size: 18px;
  color: var(--white);
  text-decoration: none;
}

.life-history {
  display: flex;
  flex-direction: column;
}

.personal-history {
  text-align: left;
  margin-top: 20px;
}

.musical-history {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.composer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  overflow: scroll;
}

.historical-image {
  display: flex;
  justify-content: center;
}

.historical-image img {
  width: auto;
  height: auto;
  max-height: 300px;
  border-radius: 10%;
  object-fit: contain;
  position: relative;
  border-radius: 10%;
}

.artist-basic-info {
  margin-top: 5px;
}

/* Div that is dynamicall shown along the right hand side*/

.extra-information {
  margin-left: 20px;
  background-color: rgba(61, 38, 23, 0.6);
  border-radius: 15px;
  overflow: scroll;
  color: var(--white);
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
}

.composer-small {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin-top: 20px;
}

.info-small {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
}

.historical-image-sm {
  max-width: 50%;
  max-height: 350px;
  margin-bottom: 10px;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.historical-image-sm img {
  width: 100%;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
}

.youtube-video {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  height: 350px;
}

.youtube-video iframe {
  align-self: center;
  margin-bottom: 10px;
  width: 80%;
  height: 80%;
  max-width: 500px;
  max-height: 315px;
}

.youtube {
  text-align: center;
}

/* Piano */
#piano-container {
  /* for child elements to use relazive sizing (%) */
  position: relative;
  /* horizontal middle */
  margin: 0 auto;
  /* possibly add min and max and make responsive */
  height: 210px;
  width: 980px;
}

#piano-container div {
  transition: all 300ms;
  user-select: none;
}

/* white piano keys as 14 same divs in a row */
#white-key-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
}

.white-key {
  flex-grow: 1;
  border: 2px solid black;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 1px 1px black;
  background-color: var(--white);
}

.black-key-active{
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #444 0%, #222 100%);
}

.white-key-active{
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
    -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
}

/* Shadow to active key 
.white-key:active {
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
    -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
} */

/* .black-key:active {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #444 0%, #222 100%);
} */

.notes-container {
  padding: 20px;
  color: var(--darkbrown);
}

/* black keys overlay white keys */
#black-key-container {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60%;
  pointer-events: none;
}

.black-key {
  flex-grow: 1.5;
  height: 100%;
  background-color: black;
  border-radius: 0 0 10px 10px;
  pointer-events: all;
}

.spacer {
  flex-grow: 1;
  height: 0;
}

#notedrop-canvas {
  display: block;
  margin: 0 auto;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.green-text {
  color: #32a24c;
}

.background-notes {
  background-image: url(/assets/images/papyrus.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.notes-span {
  font-size: 1rem;
  font-size: 1rem;
}

.blackkey-letter {
  color: var(--white);
}

.wrong-key {
  background-color: #b92727;
}

.correct-key {
  background-color: #32a24c;
}
.wrong-key {
  background-color: #b92727;
}

.correct-key {
  background-color: #32a24c;
}
/* Note Labels for Practice Keyboard ------------------------------------- */
.white-key,
.black-key {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.note-label {
  color: #3d2617;
}

.white-key .note-label {
  margin-bottom: 5px;
}

.black-key .note-label {
  color: #bdb2a0;
}

.highlight-next {
  border: 2px solid pink;
}

.btn-green {
  background-color: #7d9063;
  font-size: 1.5rem;
}

.btn-green:hover {
  background-color: #c2df99;
  color: var(--darkbrown);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-2px);
}

.btn-red {
  background-color: #a14b38;
  font-size: 1.5rem;
}

.btn-red:hover {
  background-color: #da6248;
  color: var(--darkbrown);

  box-shadow: 0px 15px 20px rgba(229, 104, 46, 0.4);
  transform: translateY(-2px);
}

/* About Us ------------------------------------------------------------ */

/* Font size - About us */

.team-member-wrapper h2,
.card-body h2 {
  font-size: 1em;
}

.card-body h3 {
  font-size: 0.8em;
}

/* Different Style - About us */

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  color: var(--white);
}

.info-box h2 {
  margin: 0;
  font-size: 1.2em;
}

.info-box p {
  margin: 5px 0 0;
  font-size: 0.9em;
}

/* Flipping Cards - About us */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  /* 3D effect */
}

/* Container to position front and back side - About us*/
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Horizontal flip on hover and active */
.flip-card:hover .flip-card-inner,
.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Front side (fallback if image is missing) - About us */
.flip-card-front {
  background-color: transparent;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  color: var(--white);
  background: var(--darkbrown);
  box-shadow: 1px -1px 7px 0 #b8a99748;
}

.flip-card a {
  color: var(--white);
}

/* Media Queries ------------------------------------------------------------ */

.welcome-image {
  max-height: 300px;
}

.hide {
  display: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.error-page-img {
  height: 300px;
}

/* Highscores page */
#highscores-page {
  margin: auto auto 0;
}

.div-list {
  padding: 0 1rem;
  background-color: rgba(241, 241, 241, 0.5);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1rem 0;
}

.high-score-table {
  font-size: 1.3rem;
  padding: 0.5rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

#highscores-list {
  padding-left: 0;
  margin: 0.5rem 2rem;
  letter-spacing: 0.05rem;
}

.high-score {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.keyboard-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-map .row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.keyboard-map .key {
  background-color: var(--page-background);
  border: 1px solid var(--darkbrown);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard-map .key span {
  font-size: 0.8em;
  color: var(--white);
  padding: 3px;
}

.modal-content {
  background-color: var(--page-background);
  border-radius: 15px;
}

.modal-header {
  background-color: var(--darkbrown);
  color: var(--white);
}

.modal-footer .btn-primary {
  background-color: var(--darkbrown);
}

/* Media queries */

@media (max-width: 500px) {
  #hero-image {
    height: 220px;
  }

  .composer-small {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 579px) {
  .history-list,
  .history {
    display: none;
  }
}

@media (max-width: 700px) {
  #hero-image {
    height: 280px;
  }

  .hero-text-container h1 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .historical-image,
  .extra-information {
    display: none;
  }
}

@media (max-width: 1000px) {
  #hero-image {
    height: 415px;
  }

  .hero-text-container h1 {
    font-size: 1rem;
  }

  .card-image {
    height: 280px;
  }
}

@media (max-width: 1400px) {
  #hero-image {
    background-size: cover;
  }
}

@media (min-width: 991px) {
  .composer-small {
    display: none;
  }
}