@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600&family=Special+Elite&family=Vast+Shadow&display=swap');

/* Root colors */
:root {
  --page-background: #bdb2a0;
  --darkbrown: #3d2617;
  --white: #fff;
}

html {
  height: 100%;
}

body {
  background-color: var(--page-background);
  font-family: 'Roboto Slab', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.header-nav {
  background-color: var(--darkbrown);
}

.logo {
  height: 47px;
}

a.active {
  border-bottom: 1px solid var(--white);
  font-weight: 800;
}
/* Hero section */
#hero-image {
  background-image: url(/assets/images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.hero-text-container {
  color: var(--white);
  background-color: var(--darkbrown);
  opacity: 0.8;
  border-radius: 5px;
}

.hero-text-container h1 {
  font-size: 2.5rem;
}

/* cards */
.card {
  background-color: rgba(61, 38, 23, 0.6);
  color: var(--white);
  border-radius: 15px;
  /* Shadow */
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.47);
}

.card-image {
  height: 350px;
  object-fit: contain;
  margin-bottom: 10px;
}

.btn-brown {
  background-color: var(--darkbrown);
  color: var(--white);
}

.btn-brown:hover {
  background-color: var(--page-background);
  color: var(--darkbrown);
}

#footer {
  background-color: var(--darkbrown);
  color: var(--white);
}

/* Piano */

/* !!! Please use more specific selector !!! */
/* div {
    transition: all 500ms;
} */

#piano-container {
  position: relative; /* for child elements to use relazive sizing (%) */
  margin: 0 auto; /* horizontal middle, 10% from top */
  /* possibly add min and max and make responsive */
  height: 210px;
  width: 980px;
}

/* white piano keys as 14 same divs in a row */
#white-key-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.white-key {
  flex-grow: 1;
  border: 2px solid black;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 1px 1px black;
  background-color: var(--white);
}

.correct-key {
  background-color: #32a24c;
}

.notes-container {
  height: 300px;
  padding: 20px;
  color: var(--darkbrown);
}
.wrong-key {
  background-color: #b92727;
}

/* black keys overlay white keys */
#black-key-container {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60%;
}

.black-key {
  flex-grow: 1.5;
  height: 100%;
  background-color: black;
  border-radius: 0 0 10px 10px;
}

.spacer {
  flex-grow: 1;
  height: 100%;
  pointer-events: none; /* click on white key THROUGH spacer */
}

#notedrop-canvas {
  display: block;
  margin: 0 auto;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

/* Note Labels for Practice Keyboard ------------------------------------- */
.white-key, .black-key {
  display: flex;
  justify-content: center; 
  align-items: flex-end; 
}

.note-label {
  color: #3d2617; 
}

.white-key .note-label {
  margin-bottom: 5px; 
}


.black-key .note-label {
  color: #bdb2a0; 
}

.highlight-next {
  border: 2px solid pink;
}

/* About Us ------------------------------------------------------------ */

/* Font size - About us */

.team-member-wrapper h2,
.card-body h2 {
  font-size: 1em;
}

.card-body h3 {
    font-size: 0.8em;
}

/* Different Style - About us */

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  color: var(--white);
}

.info-box h2 {
  margin: 0;
  font-size: 1.2em;
}

.info-box p {
  margin: 5px 0 0;
  font-size: 0.9em;
}

/* Flipping Cards - About us */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* 3D effect */
}
  
  /* Container to position front and back side - About us*/
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
  
/* Horizontal flip on hover and active */
.flip-card:hover .flip-card-inner,
.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
  
  /* Front side (fallback if image is missing) - About us */
.flip-card-front {
    background-color: transparent;
}
  
  /* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  color: var(--white);
  background: var(--darkbrown);
  box-shadow: 1px -1px 7px 0 #b8a99748;
}

.flip-card a {
  color: var(--white);
}

/* Media Queries ------------------------------------------------------------ */

@media (max-width: 500px) {
  #hero-image {
    height: 220px;
  }
}

@media (max-width: 700px) {
  #hero-image {
    height: 280px;
  }

  .hero-text-container h1 {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  #hero-image {
    height: 415px;
  }

  .hero-text-container h1 {
    font-size: 1rem;
  }

  .card-image {
    height: 280px;
  }
}

@media (max-width: 1400px) {
  #hero-image {
    background-size: cover;
  }
}
